doctype html
include components/head.pug

div.container
	div.left
		include components/profile.pug
						
		div.block
			include components/contacts.pug
						
		div.block
			include components/skills.pug
		
	div.right
		div.block.block__education
			include components/education.pug
											
		div.block.block__exp
			include components/experience.pug
						
		div.block.block__software
			include components/software.pug
						
				 	
					
