 @import "reset.css"
 @import "./fonts.css";

body
	font-family: 'pt-sans'
	max-width: 1920px
	margin: 0 auto

.container
	margin-top: 116px
	padding: 0 75px
	display: flex
	justify-content: space-between
	flex-wrap: wrap

.left
	flex: 1
	margin-right: 75px

.right
	width: 975px

.profile
	padding-top: 43px

	& > span
		display: block
		text-align: center
		text-transform: uppercase

	&__img
		width: 315px
		height: 315px
		background-color: #006CB4
		border-radius: 50%
		box-shadow: 0 0 0px 20px white, 0 0 0 21px #006CB4
		margin: 0 auto

	&__name
		font-size: 520%
		margin-top: 65px

	&__surname, &__post
		font-weight: bold

	&__surname
		font-size: 550%
		letter-spacing: 8px

	&__post
		font-size: 225%
		line-height: 2
		letter-spacing: 1px

.block__exp
	margin-top: 80px

.block__title
	text-transform: uppercase
	font-size: 380%
	font-weight: bold
	letter-spacing: 3px
	display: flex
	align-items: center
	color: #006CB4

	&:after
		content: ''
		width: 100%
		height: 8px
		background-color: #006CB4
		margin-left: 15px

	&-name
		margin-left: 28px

.block__content
	margin-top: 21px
	position: relative
	padding-left: 77px

	&:after
		content: ''
		width: 30px
		height: 30px
		background: black
		border-radius: 50%
		position: absolute
		left: 17px
		top: 7px

	&-title
		text-transform: uppercase
		font-size: 250%
		font-weight: bold
		color: #006CB4

		& span
			text-transform: capitalize
			font-weight: normal
			margin-left: 17px
			font-size: 95%
			color: black

	&-name
		display: block
		font-size: 232%
		text-transform: uppercase
		margin-top: 13px

	&-desc
		font-size: 150%
		max-width: 900px
		margin-top: 17px
		line-height: 1.2

.block .block__content-exp:nth-Child(2)
	margin-top: 65px !important

.block__content-title-exp
	color: black

.block .block__content:nth-Child(2)
	margin-top: 42px

.left__profile
	margin-top: 103px

.left__contact
	margin-top: 76px

.left__skills
	margin-top: 54px

.left__title
	width: 94%

	&:after
		margin-left: 8px

	&-icon
	  margin-left: 20px

  &-name
	  margin-left: 15px

.left__desc
	font-size: 150%
	margin-top: 20px
	padding: 0 20px
	line-height: 1.2

	& span
		font-weight: bold

// left__contact

.contact__container
	display: flex
	margin-top: 26px
	line-height: 2.6
	font-size: 200%

	&-name
		color: #006CB4
		text-transform: uppercase
		margin-left: 19px
		font-weight: bold

	&-data
	  margin-left: 68px

//skills__container

.skills__container-name
	text-align: center
	text-transform: uppercase
	font-size: 230%
	margin-top: 39px

.skills__container-circle
	display: flex
	margin-top: 20px
	justify-content: center

	&_color
		background: #E7E7E7 !important

	& span
		display: block
		width: 25px
		height: 25px
		border-radius: 50%
		background: #006CB4
		margin-left: 20px

// block__software

.block__software
	margin-top: 80px

	&-content
		margin: 40px 0 0 5px
		font-size: 250%
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		&-elem
			min-width: 430px
			margin-bottom: 38px

			& h1
			  text-transform: uppercase

			& span
				display: block
				width: 100%
				height: 34px
				margin-top: 26px
				background: #E7E7E7
				position: relative

				&:after
					content: ''
					width: 91%
					height: 34px
					background: #006CB4
					position: absolute
					left: 0
					top: 0
