div.block__title
	img(src=require("../../icons/EDUCATION.svg")).block__title-icon
	span.block__title-name education
- for (var x = 0; x < 4; x++)
	div.block__content
		span.block__content-title master degree 
			span // feb 2011 - jun 2014
		span.block__content-name university name
		p.block__content-desc.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Cras semper auctor neque vitae tempus quam pellentesque nec nam.
			Enim nunc faucibus a pellentesque sit amet porttitor.
