div.block__title
	img(src=require("../../icons/EXPERIENCE.svg")).block__title-icon
	span.block__title-name experience
- for (var x = 0; x < 3; x++)
	div.block__content.block__content-exp
		span.block__content-title.block__content-title-exp company name
			span // feb 2011 - jun 2014
		span.block__content-name your job here
		p.block__content-desc.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua.
			Cras semper auctor neque vitae tempus quam pellentesque nec nam.
			Enim nunc faucibus a pellentesque sit amet porttitor.
