div.profile
	div.profile__img
	span.profile__name name here
	span.profile__surname surname 
	span.profile__post graphic designer

div.block
	div.block__title.left__title.left__profile
		img(src=require("../../icons/PROFILE.svg")).block__title-icon.left__title-icon
		span.block__title-name.left__title-name profile
	p.left__desc.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
		lacinia iaculis diam. Suspendisse pulvinar suscipit quam, dictum hendrerit
		mauris interdum quis. Ut metus ligula, luctus quis dolor sed, maximus
		pulvinar arcu. Mauris felis mauris, imperdiet nec interdum vel,
		fermentum at urna. Aliquam porta ornare mauris, quis fermentum augue
		semper hendrerit. Duis in commodo nisl. Proin id tempor lectus.
		Donec imperdiet eros sit amet velit suscipit pharetra.
		#[span Curabitur dignissim, erat in aliquet iaculis, urna orci commodo libero, id rhoncus justo dolor eget ligula. Maecenas eu facilisis magna. Sed dictum tellus a dolor tincidunt tempor. Nulla condimentum condimentum rhoncus. Integer ut justo nunc. Ut nec massa lorem. Integer ut justo nunc. Ut nec massa lorem.]
