div.block__title
	img(src=require("../../icons/SOFTWARE.svg")).block__title-icon
	span.block__title-name software
div.block__software-content
	div.block__software-content-elem
		h1 photoshop
		span
	div.block__software-content-elem
		h1 illustrator
		span
	div.block__software-content-elem
		h1 indesign
		span
	div.block__software-content-elem
		h1 dreamweaver
		span
	div.block__software-content-elem
		h1 after effects
		span
	div.block__software-content-elem
		h1 html&css
		span
